@import "tailwindcss";

@theme {
  --font-sans: "Satoshi", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}

@layer base {
  body {
    @apply font-sans antialiased text-zinc-50 bg-zinc-950;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}
